/* --------------
utility aria 
------------ */
body{
    font-family: 'Poppins', sans-serif;
}
/* ---------------
flexible aria 
------------ */
.flexible-aria{
    display: flex;
}
.navigation-bar{
    display: flex;

}
/* ----------
button aria
 ----------- */
.convens{
    margin-left: 40px;
}
.link-button{

    text-decoration: none;
    background-image: linear-gradient(red, tomato);
    border-radius: 25px;
    padding: 10px 15px;

}
/* ---------
product aria
 bullet ;point Removed aria 
 --------- */
.product-site{
    
}
/* ul li{
    list-style-type:none;
    text-decoration: none;
} */
nav{
    display: flex;
    justify-content:space-evenly;
}
nav a {
    text-decoration: none;
    color:black;
    margin-right:10px;
}
/* ---------
logo-aria
 ------------ */
 img {
   margin-left: 40px;

 }
 /* ------------
 3rd section 
 -------------- */
 #new-section{
    text-align: center;
 }