/* --------------
utility aria 
------------ */
body{
    font-family: 'Poppins', sans-serif;
}
/* ---------------
flexible aria 
------------ */
.flexible-aria{
    display: flex;
}
.navigation-bar{
    display: flex;

}
/* ----------
button aria
 ----------- */
.convens{
    margin-left: 40px;
}
.link-button{

    text-decoration: none;
    background-image: linear-gradient(red, tomato);
    border-radius: 25px;
    padding: 10px 15px;

}
/* ---------
product aria
 bullet ;point Removed aria 
 --------- */
.product-site{
    
}
/* ul li{
    list-style-type:none;
    text-decoration: none;
} */
nav{
    display: flex;
    justify-content:space-evenly;
}
nav a {
    text-decoration: none;
    color:black;
    margin-right:10px;
}
/* ---------
logo-aria
 ------------ */
 img {
   margin-left: 40px;

 }
 /* ------------
 3rd section 
 -------------- */
 #new-section{
    text-align: center;
 }
 /*-------
  new bloog stylesheet
 --------  */
 .blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-row-gap:25px; */
 }
 /* footer work on going then  pending */
.footer-site{
    text-decoration: none;
    justify-content:initial;
    color:red
}

.sec-4th{
display: flex;
margin-right: 25px;
}
 #footer-top{
color:rgb(96, 170, 100)
 }
 @media screen and(max-width: 992px) {
     .blogs{
        grid-template-columns: repeat(2,1fr);
     }
     
    }
    @media screen and(max-width: 768px) {
     .blogs{
        grid-template-columns: repeat(1,1fr);
     }
    
 }